fastapi[standard]
pyaml==25.5.0
supabase==2.15.2
langchain-core==0.3.63
langgraph-prebuilt==0.2.2
langgraph==0.4.8
langchain[google-genai]
langgraph-checkpoint-redis==0.0.6
redis==6.2.0
asyncpg==0.30.0
google-api-python-client==2.173.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2